@import "~materialize-css/dist/css/materialize.min.css";

.cont-card {
  display: flex;
  flex-direction: column;
  place-items: center;
  max-width: 400px;
  width: 100%;
}

input.yellow-input {
    border-bottom: 1px solid #fff!important;
    box-shadow: 0 1px 0 0 #fff!important;
}
input.yellow-input + label {
    color: #fbfbfb!important;
}
input.yellow-input:focus + label {
    color: #ffeb3b!important;
}
input.yellow-input:focus {
    border-bottom: 1px solid #ffeb3b!important;
    box-shadow: 0 1px 0 0 #ffeb3b!important;
}
.navbarwrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.times-list,
.time-card {
  display: flex;
  flex-direction: column;
  place-items: center;
}
.times-list li {
  padding: 0.5rem;
}
.times-link {
  margin: 0.5rem;
}
.m1 {
  margin: 1rem;
}
.mb {
  margin-bottom: 1rem;
}